/**
 * WP BLOCK: COVER
 */

:root {
	:is(.wp-block-cover) {
		.wp-block-heading:not(.has-text-color) {
			color: inherit;
		}

		@media screen and (width <= calc( (768 / 16) * 1rem )) {
			padding-block: calc(var(--wp--custom--element-spacing) * 3);
		}
	}
}

/* OLD */
.wp-block-cover {
	/* .wp-block-cover__background {
		opacity: 0.8;
	} */

	&.is-style-hero-large {
		min-block-size: 800px;

		.wp-block-cover__background {
			background-color: var(--wp--preset--color--gray);
			opacity: 0.8;
		}

		.wp-block-heading:where(:not(.has-text-color)) {
			color: var(--wp--preset--color--white);
		}
	}

	&.is-light {
		.wp-block-cover__inner-container {
			color: var(--wp--preset--color--primary);
		}
	}

	.has-background-dim:not([class*="-background-color"]) {
		background-color: var(--wp--preset--color--gray);
	}

	&:is([class*="hero-"]) {
		.wp-block-separator {
			margin-block-start: var(--wp--custom--element-spacing);
		}
	}

	&.is-full-height-first {
		min-block-size: calc(
			100vb - var(--site-header--height, 144px) - var(--wp-admin--admin-bar--height, 0px)
		) !important;

		@media (width <= calc( (1139 / 16) * 1rem )) {
			min-block-size: calc(
				100vb - var(--site-header--height, 100px) - var(--wp-admin--admin-bar--height, 0px)
			) !important;
		}
	}

	&.is-full-height {
		min-block-size: calc(
			100vb - var(--sticky-header--height, 0px) - var(--wp-admin--admin-bar--height, 0px)
		) !important;

		@media (width <= 600px) {
			min-block-size: 100vb !important;
		}
	}
}

.wp-block-cover__inner-container {
	&.has-global-padding {
		padding-inline: 0;
	}
}
