/**
 * WP BLOCK: READ MORE
 */

.wp-block-read-more {
	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--primary-medium);
		color: var(--wp--preset--color--white);

		/* text-decoration: none; */
	}

	&:active {
		background-color: var(--wp--preset--color--primary-light);
	}
}
