/**
 * WP BLOCK: GROUP
 */

.wp-block-group {
	&:is(.has-background):where(:not(.box, .alignfull)) {
		padding: calc(var(--wp--custom--element-spacing) * 1.5);
	}

	&:is(.alignfull) {
		padding: calc(var(--wp--custom--element-spacing) * 4) var(--wp--custom--site-spacing);

		@media screen and (width <= 48rem) {
			padding-block: calc(var(--wp--custom--element-spacing) * 3);
		}
	}

	&:is(.video-wrap) {
		margin-block-start: calc(var(--wp--custom--element-spacing) * 2);
	}
}
