/**
 * WP BLOCK: POST-TITLE
 */

.wp-block-post-title {
	max-inline-size: var(--wp--style--global--wide-size);
	margin: 0 auto;

	/* a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  } */
}
