/**
 * WP BLOCK: POST-CONTENT
 */

.wp-block-post-content {
	> :first-child:not(.alignfull) {
		margin-block-start: calc(var(--wp--custom--element-spacing) * 2);
	}

	> :last-child:not(.alignfull) {
		margin-block-end: calc(var(--wp--custom--element-spacing) * 4);

		@media screen and (width <= 48rem) {
			margin-block-end: calc(var(--wp--custom--element-spacing) * 3);
		}
	}
}
