/**
 * SITE HEADER
 */

// -----------------------------------------------
//  STRUCTURE
// -----------------------------------------------
// .site-header
//  .mobile-logo-container
//    .header-logo
//    .header-menu-btn-wrap
//      .header-menu-btn
//  .header-container
//    .header-topbar
//      .header-topbar__inner
//        .header-topbar__phone
//    .header-container__inner
//      .header-logo-container
//        .header-logo
//        .header-menu-btn-wrap
//          .header-menu-btn
//      .header-menu-container
//        .header-secondary-nav
//          .header-logins
//        .header-primary-nav

// -----------------------------------------------
// HEADER: DEFAULTS
// -----------------------------------------------
.site-header {
	box-shadow: 0 -4px 8px var(--wp--preset--color--gray-dark);
	font-size: var(--wp--preset--font-size--small);
	font-weight: 500;
	line-height: var(--wp--custom--line-height--small);
	text-transform: uppercase;
}

.header-topbar__phone {
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--line-height--small);

	a {
		border: none;
		color: var(--wp--preset--color--primary-white);
		font-weight: 700;

		&:hover,
		&:active,
		&:focus {
			color: var(--wp--preset--color--white);
		}
	}
}

.header-container__inner {
	margin: 0;
	padding: 16px 0;
}

.header-logo-container {
	background-color: var(--wp--preset--color--white);
}

.header-logo {
	inline-size: 217px;
}

// --- HEADER SECONDARY NAV ---
.wp-block-navigation {
	.header-secondary-nav {
		.wp-block-navigation-item {
			.wp-block-navigation-item__content {
				background-color: var(--wp--preset--color--secondary);
				border-radius: var(--wp--custom--default-border-radius);
				color: var(--wp--preset--color--white);
			}

			&:where(.open-on-click) {
				.wp-block-navigation-submenu__toggle {
					+ .wp-block-navigation__submenu-icon {
						color: var(--wp--preset--color--white);
					}
				}
			}
		}
	}
}

// -----------------------------------------------
// HEADER: DESKTOP ONLY (71.25rem or wider)
// -----------------------------------------------
@media screen and (width >= calc( (1140 / 16) * 1rem)) {
	// --- SITE HEADER ---
	.site-header {
		// Sticky header on front-end but not in site editor
		&:not(.block-editor-block-list__layout) {
			position: sticky;
			z-index: 9999;
			inset-block-start: calc(var(--wp-admin--admin-bar--height, 0px) - var(--topbar--height, 40px));
			background-color: var(--wp--preset--color--white);
		}

		// Hide mobile header and buttons
		:is(.mobile-logo-container, .header-menu-btn-wrap) {
			display: none;
		}
	}

	// --- HEADER TOPBAR ---
	.header-topbar {
		background-color: var(--wp--preset--color--primary);

		&:is(.alignfull) {
			padding-block: 8px;
		}
	}

	// --- HEADER INNER CONTAINER ---
	.header-container__inner {
		gap: calc(var(--wp--custom--element-spacing) * 2);
	}

	// --- HEADER PRIMARY NAV ---
	.header-primary-nav {
		.has-child {
			.wp-block-navigation__submenu-container {
				.wp-block-navigation__submenu-container {
					margin-block-start: -0.1875rem;
				}
			}
		}
	}

	// --- HEADER SECONDARY NAV ---
	.wp-block-navigation {
		.header-secondary-nav {
			gap: 8px;
			font-size: var(--wp--preset--font-size--x-small);
			line-height: var(--wp--custom--line-height--x-small);

			.wp-block-navigation-item {
				.wp-block-navigation-item__content {
					padding: 0.25rem 0.75rem 0.1875rem;

					&:hover,
					&:focus,
					&:active {
						background-color: var(--wp--preset--color--primary-medium);
						color: var(--wp--preset--color--white);
					}
				}

				&:where(.open-on-click) {
					.wp-block-navigation-submenu__toggle {
						padding: 0.25rem 1.25rem 0.1875rem 0.75rem;

						&:where([aria-expanded="true"]) {
							border-end-start-radius: 0;
							border-end-end-radius: 0;

							&:hover,
							&:focus,
							&:active {
								background-color: var(--wp--preset--color--primary);
								color: var(--wp--preset--color--white);
							}
						}

						+ .wp-block-navigation__submenu-icon {
							color: var(--wp--preset--color--white);
							margin: 0 0 0.125rem -1rem;
							padding-inline-end: 1rem;
						}

						~ .wp-block-navigation__submenu-container {
							inset-inline-start: initial;
							inset-inline-end: 0;
							background-color: var(--wp--preset--color--primary);
							border-start-end-radius: 0;
							min-inline-size: initial;
						}
					}
				}
			}
		}
	}
}

// -----------------------------------------------
// HEADER: TABLETS (1139px or narrower in rem)
// -----------------------------------------------
@media screen and (width <= calc( (1139.9 / 16) * 1rem)) {
	#site-canvas {
		position: relative;
		block-size: 100%;
		min-block-size: 100vb;
		inline-size: 100%;
		transition: 300ms ease transform;

		&.active {
			position: fixed; // stops page scrolling
		}
	}

	// SITE WRAPPER
	#site-wrapper {
		position: relative;
		overflow: hidden;
		inline-size: 100%;

		&.show-nav {
			#site-canvas {
				transform: translateX(-30rem);
			}
		}
	}

	.site-header {
		box-shadow: none;

		// --- HEADER LOGO CONTAINER ---
		.header-logo-container {
			display: none;
		}

		// -- HEADER MENU CONTAINER ---
		.header-menu-container {
			flex-direction: column-reverse;
			gap: calc(var(--wp--custom--site-spacing));

			:where(
					.wp-block-navigation,
					.wp-block-navigation-item,
					.wp-block-navigation-item__content,
					.wp-block-navigation__submenu-container
				) {
				inline-size: 100%;
			}

			.wp-block-navigation__container {
				gap: 0.25rem;
			}

			// Submenu toggle button
			.wp-block-navigation-submenu__toggle[aria-expanded="true"] {
				~ .wp-block-navigation__submenu-container {
					margin-block-start: 0.25rem;
				}
			}

			// Submenu
			.wp-block-navigation-submenu {
				flex-wrap: wrap;
			}

			// Submenu inner
			.wp-block-navigation {
				&:not(.has-background) {
					.wp-block-navigation-submenu {
						.wp-block-navigation__submenu-container {
							position: relative;
							inset-block-start: 0;
							inset-inline-start: 0;
							background-color: transparent;
							border-radius: 0;
							inline-size: 100%;
							padding: 0 0 0 16px;
						}
					}
				}
			}

			:where(.header-primary-nav) {
				.wp-block-navigation-item {
					&:where(:not(.has-text-color, .btn-wrap)) {
						.wp-block-navigation-item__content {
							background-color: var(--wp--preset--color--primary);
							color: var(--wp--preset--color--primary-white);
						}
					}

					// Submenu toggle icon
					&.open-on-click .wp-block-navigation-submenu__toggle + .wp-block-navigation__submenu-icon {
						color: var(--wp--preset--color--primary-white);
					}
				}
			}

			.wp-block-navigation-item {
				.wp-block-navigation-item__content {
					border-radius: var(--wp--custom--default-border-radius);
					padding: 0.625rem 1rem;
				}

				&:where(.btn-wrap) {
					.wp-block-navigation-item__content {
						background-color: var(--wp--preset--color--primary-medium);
						color: var(--wp--preset--color--white);

						&:hover {
							background-color: var(--wp--preset--color--primary-light);
							color: var(--wp--preset--color--white);
						}
					}
				}

				&:where(:not(.has-text-color, .btn-wrap)) {
					.wp-block-navigation-item__content {
						&:hover {
							background-color: var(--wp--preset--color--primary-medium);
							color: var(--wp--preset--color--white);
						}

						&:active {
							background-color: var(--wp--preset--color--primary-light);
						}
					}
				}

				// Submenu toggle icon
				&.open-on-click .wp-block-navigation-submenu__toggle + .wp-block-navigation__submenu-icon {
					margin-inline-start: -1.5rem;
				}
			}
		}
	}

	:where(.mobile-logo-container, .header-topbar, .header-container__inner, .header-logo-container) {
		margin: 0;
		padding-inline: var(--wp--custom--site-spacing);
	}

	:where(.mobile-logo-container, .header-logo-container) {
		box-shadow: 0 -4px 8px var(--wp--preset--color--gray-dark);
		padding-block: 16px;
	}

	// --- HEADER CONTAINER ---
	.header-container {
		position: absolute;
		inset-block-start: 0;
		inset-inline-end: -30rem;
		overflow-block: scroll;
		background-color: var(--wp--preset--color--primary-dark);
		border-inline-start: 4px solid var(--wp--preset--color--white);
		block-size: 100%;
		inline-size: 30rem;
	}

	// --- HEADER TOPBAR ---
	.header-topbar {
		background: transparent;

		&:is(.alignfull) {
			margin: 0;
			padding: var(--wp--custom--element-spacing) 0;
		}

		.header-topbar__phone {
			text-align: end;
		}
	}

	// --- HEADER CONTAINER INNER ---
	.header-container__inner {
		padding-block: 0 calc(var(--wp--custom--element-spacing) * 4);
	}

	// --- MOBILE MENU BUTTON ---
	// Button to open Mobile Menu
	.wp-block-button.header-menu-btn {
		display: flex;
		margin: 0;
		padding: 0;

		.wp-element-button {
			position: relative;
			background: none;
			border: 0;
			border-radius: 0;
			block-size: 28px;
			inline-size: 40px;
			margin: 0;
			padding: 0;
			font-size: 0;
			text-indent: -9999px;

			&:hover {
				background: none;
			}
		}

		span {
			position: absolute;
			inset-block-start: 0;
			inset-inline: 0;
			display: block;
			background-color: var(--wp--preset--color--primary);
			block-size: 4px;

			&::before,
			&::after {
				content: "";
				position: absolute;
				inset-inline: 0;
				display: block;
				background-color: var(--wp--preset--color--primary);
				block-size: 4px;
			}

			&::before {
				inset-block-start: 12px;
			}

			&::after {
				inset-block-start: 24px;
			}
		}
	}

	// Button to close Mobile Menu
	.header-menu-btn.active {
		span {
			background: none;

			&::before,
			&::after {
				transition-delay: 0, 300ms;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				inset-block-start: 12px;
				transform: rotate(-45deg);
			}
		}
	}
}

// -----------------------------------------------
// HEADER: MOBILE (37.5rem or narrower)
// -----------------------------------------------
@media screen and (width <= calc( (600 / 16) * 1rem)) {
	#site-wrapper.show-nav #site-canvas {
		transform: translateX(-100%);
	}

	.site-header {
		.header-container {
			inset-inline-end: -100%;
			border-inline-start: none;
			inline-size: 100%;
		}

		.header-logo-container {
			display: flex;
			margin-inline: calc(var(--wp--custom--site-spacing) * -1) !important;
		}
	}

	.mobile-logo-container .header-menu-btn.active,
	.header-logo-container .header-menu-btn:not(.active) {
		display: none;
	}
}

// -----------------------------------------------
// HEADER: TINY DEVICES (20rem or narrower)
// -----------------------------------------------
@media screen and (width <= calc( (320 / 16) * 1rem)) {
	.wp-block-button.header-menu-btn {
		.wp-block-button__link {
			block-size: 24px;
			inline-size: 32px;
		}

		span {
			block-size: 3px;

			&::before,
			&::after {
				block-size: 3px;
			}

			&::before {
				inset-block-start: 10px;
			}

			&::after {
				inset-block-start: 20px;
			}
		}
	}

	.header-menu-btn.active {
		span {
			&::after {
				inset-block-start: 10px;
			}
		}
	}
}
