/**
 * TESTIMONIALS
 */

// -----------------------------------------------
// TESTIMONIALS: SINGLE POST
// -----------------------------------------------
.testimonial-content {
	.wp-block-cover__inner-container {
		text-align: center;
	}

	.client-said-title {
		opacity: 0.5;
	}

	.wp-block-post-title {
		margin-block-start: 8px;
	}

	article {
		.wp-block-post-content {
			position: relative;
			background-color: var(--wp--preset--color--primary-white);
			border-radius: var(--wp--custom--default-border-radius);
			color: var(--wp--preset--color--primary-medium);
			margin-block-end: calc(var(--wp--custom--element-spacing) * 3);
			padding: calc(var(--wp--custom--element-spacing) * 1.5);

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: var(--wp--preset--color--primary-medium);

				+ * {
					margin-block-start: 8px;
				}
			}

			> :last-child:not(.alignfull) {
				margin-block-end: 0;
			}

			@media (width >= 960px) {
				&::before,
				&::after {
					content: '"';
					position: absolute;
					inset-block-start: -16px;
					display: flex;
					justify-content: center;
					opacity: 0.15;
					block-size: 48px;
					inline-size: 48px;
					font-size: 160px;
					line-height: 1;
				}

				&::before {
					inset-inline-start: -60px;
				}

				&::after {
					inset-inline-end: -60px;
				}
			}
		}
	}

	.testimonial-cta {
		margin-block-end: calc(var(--wp--custom--element-spacing) * 3);
	}
}

// -----------------------------------------------
// TESTIMONIALS: SLIDER
// -----------------------------------------------
.wp-block-group:is(.testimonial-slider) {
	.has-small-font-size {
		opacity: 0.8;
	}

	.wp-block-post-title {
		position: relative;

		@media (width >= calc( (960 / 16) * 1rem )) {
			&::before,
			&::after {
				content: '"';
				position: absolute;
				inset-block-start: -1.5rem;
				display: block;
				opacity: 0.15;
				block-size: 3rem;
				inline-size: 3rem;
				font-size: 8.5rem;
				font-weight: 500;
				line-height: 1;
			}

			&::before {
				inset-inline-start: -3.5rem;
			}

			&::after {
				inset-inline-end: -3.5rem;
			}
		}
	}
}

#section-testimonials {
	padding-inline: 0;

	.wp-block-group:not(.testimonial-slider) {
		padding-inline: var(--wp--custom--site-spacing);

		h2 {
			max-inline-size: 31.25rem;
			margin: 0 auto;
		}
	}
}
