/**
 * VARIABLES
 */

// -----------------------------------------------
// VARIABLES: DEFAULTS
// -----------------------------------------------
body {
	// BRAND BLUE HSL COLOR
	// --h-primary: 236;
	// --s-primary: 44%;
	// --l-primary: 30%;

	// BRAND YELLOW HSL COLOR
	// --h-secondary: 43;
	// --s-secondary: 90%;
	// --l-secondary: 65%;

	// BRAND GREEN HSL COLOR
	// --h-tertiary: 98;
	// --s-tertiary: 30%;
	// --l-tertiary: 50%;

	// PRIMARY SHADE COLORS
	// --color-shade-primary-white: hsl(var(--h-primary), var(--s-primary), 95%);
	// --color-shade-primary-5: hsl(var(--h-primary), var(--s-primary), 55%);
	// --color-shade-primary-4: hsl(var(--h-primary), var(--s-primary), 50%);
	// --color-shade-primary-3: hsl(var(--h-primary), var(--s-primary), 45%);
	// --color-shade-primary-2: hsl(var(--h-primary), var(--s-primary), 40%);
	// --color-shade-primary-1: hsl(var(--h-primary), var(--s-primary), 35%);

	// --color-shade--medium-light: hsl(236, 44%, 52.5%);

	// FILTER COLORS FOR ICONS
	// Primary filters
	// --filter-primary-medium: invert(33%) sepia(98%) saturate(419%)
	//   hue-rotate(156deg) brightness(87%) contrast(94%);
	// --filter-primary: invert(53%) sepia(24%) saturate(1345%) hue-rotate(155deg)
	//   brightness(93%) contrast(102%);

	// Tertiary filters
	// --filter-tertiary-dark: invert(20%) sepia(21%) saturate(1064%) hue-rotate(54deg) brightness(91%) contrast(86%);
	// --filter-tertiary-medium: invert(42%) sepia(19%) saturate(966%)
	//   hue-rotate(54deg) brightness(91%) contrast(88%);

	--filter-yellow-icon: brightness(0) saturate(100%) invert(79%) sepia(28%) saturate(406%) hue-rotate(5deg)
		brightness(82%) contrast(82%);

	// Gray filters
	--filter-gray-dark: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(20%) contrast(100%);

	// --filter-gray-medium: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(35%) contrast(100%);

	--filter-primary-white: brightness(0) saturate(100%) invert(89%) sepia(2%) saturate(1771%) hue-rotate(198deg)
		brightness(102%) contrast(89%);
}

// -----------------------------------------------
// VARIABLES: SITE PADDING ON MOBILE
// -----------------------------------------------
@media screen and (width <= 767px) {
	body {
		--wp--custom--site-spacing: 24px;
	}
}
