/**
 * BOXES
 */

// -----------------------------------------------
// ICON BOX
// -----------------------------------------------
// example: used in single state page sidebar box.
.is-icon-box {
	flex-direction: row;
	justify-content: flex-start;
	gap: 12px;
	padding: 32px;

	.wp-block-group,
	figure,
	p {
		margin: 0;
	}

	figure {
		inline-size: 3.75rem;
	}
}

// -----------------------------------------------
// CONTACT BOX
// -----------------------------------------------
.is-contact-box {
	.wp-block-button {
		flex-grow: 1;
		min-inline-size: calc(50% - (var(--wp--custom--element-spacing) / 4));

		&:not(.chat-btn, .email-btn, .phone-btn) {
			.wp-element-button {
				display: flex;
				justify-content: center;
			}
		}
	}
}

// -----------------------------------------------
// INDEX BOX
// -----------------------------------------------
.is-index-box {
	padding: calc(var(--wp--custom--element-spacing) * 2) var(--wp--custom--site-spacing);

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		background-color: var(--wp--preset--color--primary);
		border-radius: var(--wp--custom--default-border-radius);
		color: var(--wp--preset--color--white);
		padding: calc(var(--wp--custom--element-spacing) / 2) var(--wp--custom--element-spacing);

		&:hover,
		&:focus {
			background: var(--wp--preset--color--primary-medium);
		}

		&:active {
			background: var(--wp--preset--color--primary-light);
		}
	}
}

// -----------------------------------------------
// EVENT BOX
// -----------------------------------------------
.is-event-box {
	flex-direction: row;
	gap: var(--wp--custom--element-spacing);
	padding: calc(var(--wp--custom--element-spacing) * 2);

	* {
		margin-block-start: 0;
	}

	.event-box__header {
		flex-basis: 30%;
		text-transform: uppercase;
	}

	.event-box__location {
		flex-basis: 50%;

		a {
			border-block-end: 2px solid transparent;
			color: var(--wp--preset--color--secondary);

			&:hover,
			&:focus {
				border-color: currentcolor;
			}

			&:active {
				color: var(--wp--preset--color--secondary-light);
			}
		}
	}

	.event-box__place {
		flex-basis: 20%;
	}

	@media screen and (width <= calc( (400 / 16) * 1rem )) {
		flex-direction: column;
	}
}

// -----------------------------------------------
// BOXES: DEFAULTS
// -----------------------------------------------
.box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: var(--wp--custom--default-border-radius);
	padding: 0;

	&:not(.has-transparent-background, :has(.box-inner)) {
		padding: 2rem;
	}

	ul,
	ol {
		padding-inline-start: var(--wp--custom--element-spacing);
	}

	// Example: Inside /free-educational-resources/ page
	.wp-block-buttons {
		.wp-block-button {
			&.wp-block-button__width-50 {
				@media screen and (width <= calc( (920 / 16) * 1rem)) {
					inline-size: 100%;
				}
			}
		}
	}

	// BOX ICON HEADING
	.box__icon-heading {
		display: flex;
		align-items: center;
		padding: 2rem 2rem 0;

		> * {
			margin-block-start: 0;
		}

		figure {
			flex-shrink: 0;
			margin: 0 16px 0 0;
		}

		img {
			block-size: auto;
			inline-size: 48px;
		}

		@media screen and (width <= calc( (1139 / 16) * 1rem)) {
			flex-direction: column;
			text-align: center;

			figure {
				margin: 0 0 12px;
			}
		}
	}

	// BOX INNER
	.box-inner {
		margin: 0;
		padding: 2rem;

		> * {
			margin-block-start: 0;

			+ * {
				margin-block-start: 16px;
			}
		}

		// AFTER BOX INNER
		+ .wp-block-buttons {
			inline-size: 100%;
			max-inline-size: 100%;
			margin-block-start: 16px;

			.wp-block-button__width-100 .wp-element-button {
				border-radius: 0 0 var(--wp--custom--default-border-radius) var(--wp--custom--default-border-radius);
			}
		}

		.box__icon-heading + & {
			padding-block-start: 16px;
		}
	}
}

// -----------------------------------------------
// ALERT BOX
// -----------------------------------------------
.is-alert-box {
	flex-direction: row;
	justify-content: start;
	gap: var(--wp--custom--element-spacing);
	background-color: var(--wp--preset--color--yellow-white);
	border: 2px solid hsl(43deg 90% 20% / 30%);
	padding: var(--wp--custom--element-spacing);

	p,
	.wp-block-heading {
		color: var(--wp--preset--color--yellow-dark);
	}

	.alert-box__icon {
		flex-shrink: 0;
		block-size: auto;
		inline-size: 48px;
		margin: 0 12px;

		img {
			filter: var(--filter-yellow-icon);
		}
	}

	.alert-box__content {
		margin-block-start: 0;

		> * + * {
			margin-block-start: 8px;
		}
	}

	.single-city & {
		margin-block-start: 32px;
	}
}

// -----------------------------------------------
// ARTICLE BOX
// -----------------------------------------------
.has-article-boxes {
	&.grid-container-4 {
		row-gap: calc(var(--wp--custom--element-spacing) * 3);
	}

	.article-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		block-size: 100%;
	}

	.wp-block-post-excerpt__excerpt {
		font-size: var(--wp--preset--font-size--small);
		line-height: var(--wp--custom--line-height--small);
	}
}

.article-box__content {
	inline-size: 100%;
}

.wp-block-cover:is(.article-box__header) {
	flex-direction: column;
	border-radius: var(--wp--custom--default-border-radius);
	padding: 0;

	.wp-block-cover__inner-container,
	.wp-block-post-title,
	.wp-block-post-title a {
		display: flex;
		flex-grow: 1;
	}

	.wp-block-post-title {
		font-weight: 500;

		a {
			flex-basis: 100%;
			align-items: center;
			justify-content: center;
			background-color: hsl(var(--h-primary) var(--s-primary) var(--l-primary) / 60%);
			padding: var(--wp--custom--element-spacing);

			&:hover {
				background-color: hsl(var(--h-primary) var(--s-primary) var(--l-primary) / 80%);
			}
		}
	}
}

// -----------------------------------------------
// CITY BOX
// -----------------------------------------------
.is-city-box {
	.box__icon-heading {
		justify-content: center;
		padding-block-end: 16px;

		@media screen and (width <= calc( (1139 / 16) * 1rem)) {
			flex-direction: row;

			figure {
				margin: 0 1.6rem 0 0;
			}
		}
	}
}

// -----------------------------------------------
// PRODUCT BOX
// -----------------------------------------------
.has-product-boxes {
	.box {
		border: 0.125rem solid var(--wp--preset--color--gray-white);
	}
}

// -----------------------------------------------
// SQUARE BOX
// -----------------------------------------------
.square-boxes:is(.wp-block-group) {
	display: flex;
	flex-wrap: wrap;
	padding: 0;

	> * {
		display: flex;
		flex-basis: 50%;
		flex-direction: column;
		justify-content: center;
		min-block-size: 50vi;
		margin-block-start: 0;

		:is(h1, h2, h3, h4, h5, h6, p, ul, ol) {
			max-inline-size: 45rem;
			margin-inline: auto;
		}

		@media (width >= 1440px) {
			min-block-size: 720px;
		}
	}

	.wp-block-embed {
		padding: 0;
	}

	.wp-block-embed__wrapper {
		block-size: 100%;
	}

	.square-box__content {
		padding: calc(var(--wp--custom--element-spacing) * 4) var(--wp--custom--site-spacing);
	}

	@media screen and (width <= calc( (960 / 16) * 1rem)) {
		p {
			font-size: var(--wp--preset--font-size--medium) !important;
			line-height: var(--wp--custom--line-height--medium);
		}
	}

	@media screen and (width <= calc( (768 / 16) * 1rem)) {
		flex-direction: column;

		.square-box__image {
			order: 1;
		}

		.square-box__content {
			order: 2;
		}

		> * {
			flex-basis: 100%;
			block-size: auto;
		}
	}
}

// -----------------------------------------------
// STICKER BOX
// -----------------------------------------------
.is-sticker-box {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		background-color: var(--wp--preset--color--primary);
		border-radius: 50%;
		opacity: 0.7;
	}

	&.has-primary-background-color {
		&::before {
			background-color: var(--wp--preset--color--primary-light);
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		li {
			color: var(--wp--preset--color--white);
		}
	}
}

.grid-container-2,
.grid-container-3,
.grid-container-4 {
	&.has-sticker-boxes {
		row-gap: calc(var(--wp--custom--element-spacing) * 3);
		margin-block-start: calc(var(--wp--custom--element-spacing) * 3);
	}

	.is-sticker-box {
		.box-inner {
			padding-block-start: calc(var(--wp--custom--element-spacing) * 2);
		}
	}
}

.grid-container-2,
.grid-container-3 {
	.is-sticker-box {
		padding-block-start: 16px;

		&::before {
			inset-block-start: -32px;
			inset-inline-start: calc(50% - 32px);
			block-size: 64px;
			inline-size: 64px;
		}
	}
}

.grid-container-4 {
	.is-sticker-box {
		&::before {
			inset-block-start: -24px;
			inset-inline-start: calc(50% - 24px);
			block-size: 48px;
			inline-size: 48px;
		}
	}
}

// -----------------------------------------------
// TESTIMONIAL BOX
// -----------------------------------------------
.is-testimonial-box {
	padding: 72px 48px;
}

// -----------------------------------------------
// MESSAGE BOX
// -----------------------------------------------
.message-box {
	border: 2px solid transparent;
	border-radius: var(--wp--custom--default-border-radius);
	padding: var(--wp--custom--element-spacing);
	text-align: center;

	> * {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-block-start: 0;
		font-size: var(--wp--preset--font-size--large);
		font-weight: 600;
		line-height: var(--wp--custom--line-height--large);
	}
}

.is-error-message-box {
	background-color: var(--wp--custom--color--error-bg);
	border-color: var(--wp--custom--color--error-border);
	color: var(--wp--custom--color--error-fg);
}

.is-info-message-box {
	background-color: var(--wp--custom--color--info-bg);
	border-color: var(--wp--custom--color--info-border);
	color: var(--wp--custom--color--info-fg);
}

.message-button {
	border: none;
	border-radius: var(--wp--custom--default-border-radius);
	color: var(--wp--preset--color--white);
	margin-block-start: calc(var(--wp--custom--element-spacing) / 2);
	padding: calc(var(--wp--custom--element-spacing) / 4) var(--wp--custom--element-spacing);
	text-decoration: none;
}

.is-error-message-button {
	background-color: var(--wp--custom--color--error-fg);

	&:hover {
		background-color: var(--wp--custom--color--error-hover);
	}
}
