/**
 * ICONS
 */

// -----------------------------------------------
// ICONS: CSS CIRCLES
// -----------------------------------------------
.circle-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	block-size: 3rem;
	inline-size: 3rem;
	font-size: 1.5rem;

	a {
		border: none;
	}

	&.has-text-align-center {
		margin-inline: auto;
	}
}
